<% if (successMessages && successMessages.length) { %>
  <div class="alert alert-success">
    <% successMessages.forEach((message) => { %>
      <p><%= message %></p>
    <% }); %>
  </div>
<% } %>
<% if (errorMessages && errorMessages.length) { %>
  <div class="alert alert-error">
    <% errorMessages.forEach((message) => { %>
      <p><%= message %></p>
    <% }); %>
  </div>
<% } %>
<% if (infoMessages && infoMessages.length) { %>
  <div class="alert alert-info">
    <% infoMessages.forEach((message) => { %>
      <p><%= message %></p>
    <% }); %>
  </div>
<% } %>
