<div class="flash-container" data-flash-container>
  <% const flashMessages = flash || {}; -%>
  <% Object.entries(flashMessages).forEach(([type, messages]) => { -%>
    <% messages.forEach((message) => { -%>
      <div class="flash flash-<%= type %>" role="alert">
        <span><%= message %></span>
        <button type="button" class="flash-close" data-action="dismiss">×</button>
      </div>
    <% }) -%>
  <% }) -%>
</div>
