<%- include('./partials/layout-start', { title }) %>
<section class="empty">
  <h1>Что-то пошло не так</h1>
  <p><%= message %></p>
  <a class="btn btn-primary" href="/dashboard">Обновить страницу</a>
</section>
<%- include('./partials/layout-end') %>
